.dashboard-card {
  background-color: #2d3748;
  width: 50%;
  margin: 10px;
  height: 300px;
  border-radius: 10px;
}

.dashboard-card-row {
  display: flex;
  flex-direction: row;
}

.dashboard-card-header{
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bold;
  margin: 10px;
}

.dashboard-card-header-name{
  width: 88%;
}

.dashboard-card-header-link:hover{
  color: bisque;
}

.db-appointment-table {
  width: 100%;
  border-collapse: collapse;
  /* background-color: #2d3748; */
}

.db-appointment-table th,
.db-appointment-table td {
  padding: 12px 15px;
  text-align: left;
  /* border-bottom: 1px solid #4a5568; */
  color: #edf2f7;
}

.db-appointment-table th {
  background-color: #4a5568;
  font-weight: bold;
  color: #edf2f7;
}