.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #2b364a;
  /* margin-top: 5px; */
  padding: 15px 20px;
}

.arrow-icon {
  font-size: 18px;
  color: #a0aec0;
  margin-left: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}

.header-content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 10px;
}

.header-right-global {
  display: flex;
  align-items: center;
}

.header-right-global span {
  margin-left: 20px;
  margin-right: 15px;
  cursor: pointer;
  color: #a0aec0;

}

.profile-picture {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  /* margin-bottom: 10px; */
  color: gray;
}

.profile-menu {
  position: absolute;
  top: 65px;
  right: 20px;
  background-color: #1d2636;
  border: 1px solid #2b364a;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45);
  z-index: 100;
  width: 250px;
  height: 200px;
}

.profile-menu-item-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;


}

.profile-menu-item {
  background: none;
  border: none;
  color: #a0aec0;
  text-align: left;
  padding: 10px 14px;
  width: 190px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  align-items: center;
  transition: background 0.2s ease, color 0.2s ease;
}

.profile-menu-item-logo {
  font-size: 20px;
}

.profile-menu-item:hover {
  background-color: #334155;
  color: #38bdf8;

}

.profile-menu button+button {
  border-top: 1px solid #324055;
}

.header-profile-dropdown-heading {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #334155;
  gap: 5px;
  margin-bottom: 10px;
}

.header-menu-name {
  font-size: 15px;
  font-weight: 600;
}

.header-menu-email {
  font-size: 13px;
}

.user-info:hover {
  color: #38bdf8;
}