body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a202c;
  color: #a0aec0;
}

.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main-content {
  /* margin-left: 260px; */
  flex-grow: 1;
  /* padding: 20px; */
}

.main-body-content {
  padding: 20px 20px;
}

.add-note-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4299e1;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.homepage-grid {
  color: white;
  margin: 20px;

}











