.pagination-nav {
  display: flex;
  justify-content: center; 
}


.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.pagination-list .page-item {
  margin: 0 5px;
}

.pagination-list .page-link {
  display: block;
  padding: 8px 12px;
  border: 1px solid #4a5568;
  background-color: #2d3748;
  color: #edf2f7;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-list .page-link:hover {
  background-color: #4a5568;
}

.pagination-list .page-item.active .page-link {
  background-color: #4299e1;
  border-color: #4299e1;
  color: white;
}

.pagination-list .page-item.disabled .page-link {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #2d3748; 
}

.table-footer{
  margin-top: 10px;
}