.sidebar {
  width: 250px;
  background-color: #2d3748;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  color: #edf2f7;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.sidebar-header img {
  width: 180px;
  height: 39px;
  margin-left: 25px;
}

.sidebar-header span {
  font-size: 25px;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  padding-left: 10px;
}

.sidebar-menu .menu-item {
  
  margin-bottom: 10px;
}

.sidebar-menu .menu-item a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #edf2f7;
  text-decoration: none;
  border-radius: 5px;
}

.sidebar-menu .menu-item:hover {
  border-radius: 5px;
  background-color: #4a5568;
}

.sidebar-menu .menu-item.active a {
  background-color: #4299e1; 
  color: white;
}

.sidebar-menu .menu-item i {
  margin-right: 10px;
  font-size: 18px; 
}

