.objective-details-field-row {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
}

.objective-details-field {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.objective-details-field-1 {
  width: 100%;
}
.objective-details-field-2 {
  /* background-color: #1772e9; */
  width: 50%;
}

.objective-details-field-3 {
  width: 33%;
}

.objective-details-field label {
    color: #cccccc;
    margin-bottom: 8px;
    margin-top: 5px;
    margin-left: 2px;

}

.objective-details-field input {
    border-radius: 5px;
    height: 35px;
    background-color: #3e4a64;
    box-sizing: border-box;
    padding: 12px;
    border: none;
    color: #ffffff;
    font-size: 1em; 
}

.objective-details-field select {
  border-radius: 5px;
  height: 35px;
  background-color: #3e4a64;
  box-sizing: border-box;
  /* padding: 12px; */
  border: none;
  color: #ffffff;
  font-size: 1em; 
  padding-left: 10px;
}

.on-observation-header{
    display: flex;
    justify-content: center;
}

.on-observation-header h3 {
    color: white;
    font-weight: bold;
}

.objective-fields-layout{
    display: flex;
}


.objective-fields-layout img {
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.objective-fields-text {
    width: 50%;
}

.on-palpation-image-group{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
 
  width: 50%;
  border-radius: 10px;
}