.pain-sketch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #16a34a; */
  justify-content: center;
}

.pain-sketch-canvas {
  border-radius: 10px;
  background-color: transparent;
  cursor: crosshair;
  width: 628px;
  height: 450px;
  /* background-color: #ffffff; */
}

.pain-sketch-buttons {
  height: 450px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.pain-assessment-button {
  width: 65px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin: 10px;
  margin-left: 40px;
  padding: 5px;
}

.pain-sketch-button {
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
  cursor: pointer;
  margin: 10px;
}


.pain-assessment-button.undo {
  background-color: #22c55e;
  color: white;
}

.pain-assessment-button.undo:hover {
  background-color: #16a34a;
}

.pain-assessment-button.clear {
  background-color: #ef4444;
  color: white;
}

.pain-assessment-button.clear:hover {
  background-color: #dc2626;
}

.pain-assessment-button.save {
  background-color: #14b8a6;
  color: white;
}

.pain-assessment-button.save:hover {
  background-color: #0d9488;
}
