.pain-sketch-container {
  display: flex;
  justify-content: center;
  /* padding: 20px; */
  /* background-color: #16a34a; */
  height: 100%;
}

.pain-sketch-content {
  display: flex;
  gap: 20px;
}

.pain-sketch-stage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pain-sketch-controls {
  width: 250px;
  height: 94%;
  background: #121929;
  padding: 15px;
  border-radius: 12px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.3); */
  color: #f1f5f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.control-group {
  /* background: #1f2937; */
  /* background-color: #0e294e; */
  background-color: #1e293b;
  padding: 0px 10px 10px 10px;
  border-radius: 8px;
}

.control-group h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #e2e8f0;
}

.tool-selector {
  display: flex;
  gap: 10px;
}

.tool-btn {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #3d566e;
  border-radius: 6px;
  background: #2c3e50;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.tool-btn.active {
  background: #16a34a;
  border-color: #16a34a;
}
.tool-btn:hover {
  background: #3d566e;
}

.line-thickness-control {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 10px;
}
.line-thickness-control label {
  font-size: 12px;
  color: #cbd5e1;
}

.sketch-button {
  width: 100%;
  /* height: 32px; */
  padding: 5px;
  /* margin-top: 6px; */
  margin: 4px 5px 4px 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #374151;
  color: #f1f5f9;
  transition: 0.2s;
  
}

.sketch-button:disabled {
  background-color: #fafafa;       
  /* color: #888;                   */
  cursor: not-allowed;          
  opacity: 0.8;                 
  box-shadow: none;            
}

.sketch-button-single {
  width: 96%;
  padding: 5px;

  margin-left: 5px;
  margin-top: 5px;

  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #374151;
  color: #f1f5f9;
  transition: 0.2s;
  
}

.sketch-button-single:hover {
  background: #4b5563;
}

.sketch-button-single.danger {
  background: #dc2626;
}

.sketch-button-single.danger:hover {
  background: #b91c1c;
}


.sketch-button:hover {
  background: #4b5563;
}

.sketch-button.primary {
  background: #16a34a;
}
.sketch-button.primary:hover {
  background: #15803d;
}
.sketch-button.secondary {
  background: #2563eb;
}
.sketch-button.secondary:hover {
  background: #1d4ed8;
}
.sketch-button.danger {
  background: #dc2626;
}
.sketch-button.danger:hover {
  background: #b91c1c;
}

.pain-scale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}
.pain-bar {
  flex: 1;
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(to right, green, yellow, orange, red);
}

.sketch-button-row{
  display: flex;
  flex-direction: row;
}
