.patient-details-page-card {
  background-color: #2d3748;
  border-radius: 10px;
  /* width: 70%; */
  padding-right: 10px;
  /* min-height: 500px; */
}

.patient-details-page h1 {
  color: white;
  padding: 20px;
  font-size: x-large;
  font-weight: bold;
}

.patient-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.patient-details-save {
  display: flex;
  justify-content: end;
  padding: 20px;
}

.patient-details-save button {
  margin-left: 25px;
  width: 80px;
  height: 35px;
  /* background-color: #00bf8a; */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  font-size: 1em;
  font-weight: bold;
}

.b-cancel {
  background-color: #D76A5C ;
}
.b-cancel:hover {
  background-color: #C46258 ;
}

.b-save {
  background-color: #00bf8a;
}
.b-save:hover {
  background-color: #00a377;
}



.pain-assessment-image-group-sketch {
  width: 1320px;
  border-radius: 10px;
  background-color: #3b82f6;
}


/*--Data input fields-----------------------------------------------*/

.data-field-row {
  display: flex;
  flex-direction: row;
}

.data-field {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.data-field-1 { width: 100%;}
.data-field-2 { width: 50%; }
.data-field-3 { width: 33%; }

.data-field label {
  color: #cccccc;
  margin-bottom: 8px;
  margin-top: 5px;
  margin-left: 2px;

}

.data-field textarea  {
  border-radius: 5px;
  height: 150px;
  resize: vertical;
  background-color: #3e4a64;
  box-sizing: border-box;
  padding: 12px;
  border: none;
  color: #ffffff;
  font-size: 1em;
}

.data-field input {
  border-radius: 5px;
  height: 35px;
  background-color: #3e4a64;
  box-sizing: border-box;
  padding: 12px;
  border: none;
  color: #ffffff;
  font-size: 1em;
}

.data-field select {
  border-radius: 5px;
  height: 35px;
  background-color: #3e4a64;
  box-sizing: border-box;
  /* padding: 12px; */
  border: none;
  color: #ffffff;
  font-size: 1em;
  padding-left: 10px;
}

/*--Main heading Tabs-----------------------------------------------*/

.main-heading-tabs {
  margin-left: 20px;
  display: flex;
  gap: 0.75rem;
}

.main-heading-tab {
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  font-size: 0.95rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease;
}

.main-heading-tab:hover {
  border-color: #bbb;
}

.main-heading-tab--active {
  font-weight: 600;
  border-color: #007bff;
}

/*--Sub heading Tabs-----------------------------------------------*/


.sub-heading-tabs {
  display: flex;
  gap: 0.75rem;
  padding-left: 20px;
  margin-bottom: 20px;
}

.sub-heading-tab {
  border-radius: 5px;
  background-color: #00bf8a;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.sub-heading-tab:hover {
  background-color: #00a377;
}

.sub-heading-tab--active {
  font-weight: 700;
  background-color: #01aa64;
}





